<!DOCTYPE html>

<html>
  <head>
    <title>Análisis dataset gob.bo - PARTE 1</title>
    <meta charset="utf-8" />   <!--It is necessary to use the UTF-8 encoding with plotly graphics to get e.g. negative signs to render correctly -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="bootstrap.css">
  </head>

  <body>
    <div class="container">
      <h1 class="display-6">Análisis dataset gob.bo - PARTE 1</h1>

      <p>
        Analizando el <a href="https://huggingface.co/datasets/strymsg/gob.bo">conjunto de datos del portal único de trámites gob.bo (obtenido por web scraping)</a>,
        tiene un total de <strong>1268</strong> trámites con 26 columnas
        <br>
        En esta parte se analiza:
        <ul>
          <li> Conteo de trámites por instituciones y categorías     </li>
          <li>Actualizaciones de traḿites por instituciones y categorías</li>
          <li><Distribución de trámites por tipo (presencial o en línea)/li>
        </ul>
      </p>
      <hr>

      <h2>Trámites </h2>

      {{ g1 }}

      <h3> Distribución de trámites por categorías </h3>

      {{ g2 }}

      Esta Visualización muestra que hay más trámites con categoría "Educación" y "Gobierno". Esto podría ser un indicador de que estas dos categorías son <strong>las más burocráticas</strong> ya que además tienen comparativamente más trámites que otras categorías. Probablemente valdría la pena hacer un análisis separado para las primeras categorías.

      <h2>Actualizaciones de trámites</h2>

      {{ g3 }}

      <p>Conviene analizar la actualización de trámites por años y meses, emepzando por años.</p>

      {{ g4 }}

      Lo anterior muestra que la mayor actualizacion de trámites ocurrió en octubre de 2019, que es poco después de que se publicara la plataforma. Aparte de esto:
      
      <ul>
        <li>En 2020 se actualizarón muy pocos trámites: Esto parece normal ya que los procedimientos para los trámites deberían variar poco en el lapsop de un año.</li>
        <li>En 2021 se actualizaron alrededor de 130 trámites: Mostrando mayor actividad luego de mitad de año</li>
        <li>En 2022 se actualizaron mucho menos trámites que en 2021</li>
        <li>2023 fue el año con mayor cantidad de actualizaciones desde el lanzamiento del portal: Con más de 450 trámites actualizados, esto muestra que ha habido actividad y mantenimiento de parte de las instituciones, podría valer la pena hacer un análisis de que trámites, instituciones o categorías fueron actualizados.</li>
        <li>2024 y 2025 tienen pocas actualizaciones: Esto podría ser una señal de abandono de la actualización de trámites por parte de las instituciones que prefieren actualizarlos en sus sitios oficiales (según un D.S. esto no debería ser así).</li>
      </ul>
      
      Explorando por año y mes y categorías
      
      {{ g5 }}

      Se ve interesante pero convendría evaluar a más detalle cada año

      {{ga2020}}
      {{ga2021}}
      {{ga2022}}
      {{ga2023}}
      {{ga2024}}
      {{ga2025}}      

      <h3>Distribución  Distribución de trámites por tipo (presencial o en línea)</h3>
      
      {{ g6 }}

      Se puede ver que la gran mayoría de los trámites se deben hacer de forma presencial. Sería interesante ver qué instituciones o categorías han implementado más trámites en línea para la comodidad de la población

      Ahora si analiza por categorías se puede identificar cúales implementan más trámites en línea

      {{g7}}
      <ul>
        <li> Las categorías de trámites Salud, Medio Ambiente, Cultura y Turismo, Bienes Inmuebles **no tienen ningún trámite en línea**</li>
        <li> Educación es la categoría de trámites con más trámites en línea, le sigue Gobierno.</li>
      </ul>

      Pero ¿qué instituciones son las que tienen trámites en línea?

      {{ g8 }}

      <p>Destacan el Ministerio de Educación (MINEDU), Servicio de Registro de Comercio (SEPREC) y Ministerio de Justicia y Transparencia Institucional (MINJTI) como las instituciones con más trámites en línea, siendo el MINEDU y el SEPREC por mucho las instituciones con más trámites que brindan esta facilidad.</p>

      <p>Esto puede ser un indicador de que estas instituciones han invertido en desarrollo de sistemas con integraciones mediante interoperabilidad ya que esto facilita la automatización de procesos.</p>

      <p>En resumen solamente 35 instituciones de las 123 tienen al menos un trámite en línea.</p>
    </div>

    <div class="alert alert-dismissible alert-secondary">
      <p>
        Este es el <a href=""> código fuente del notebook </a> para la generación de los gráficos.
      </p>
    </div>
      
  </body>

</html>
